<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="/css/welcome.css">
</head>
<body>
    <div class="main">
        <h1>Welcome to Simon Says!</h1>
        <p>Enter your name to start playing:</p>
        <div class="box">
            <form method="get" action="/game">
                <label for="username">Enter your name:</label>
                <input type="text" id="username" name="username" required>
               <button type="submit">start the game</button>
            </form>
        </div>
    </div>
   

</body>
</html>